header{border-bottom: 6px solid #7b7b7b;line-height: 80px;text-align: center;background-color: #c7e3ff;margin-bottom: 40px;}

#bodyContent {font-family:'Lucida Sans';
             color:#00376c; width: 600px;margin:0 auto}

a {color:#00376c;text-decoration: none;}
a:hover {text-decoration: underline;}

h2 {border-bottom: 2px solid #7b7b7b;text-align: center;}

h3 {color: #1577ff;border-bottom: 2px solid #1577ff;display: inline;}

.services{font-style: italic;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;margin-bottom: 40px;background-color: #e7e7e7;}

.story{padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;margin-bottom: 40px;background-color: #e7e7e7;}

.locations{padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;margin-bottom: 40px;background-color: #e7e7e7;}

img {width:150px}
footer{font-style: italic;padding: 10px;text-align: center;background-color: #c7e3ff;margin-bottom: 40px;}

